@font-face {
    font-family: 'Valentina-Regular';
    src:url('Valentina-Regular.ttf.woff') format('woff'),
        url('Valentina-Regular.ttf.svg#Valentina-Regular') format('svg'),
        url('Valentina-Regular.ttf.eot'),
        url('Valentina-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
    background: #eaeaea;
    font-family: 'verdana';
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.ecosystem {
    max-width: 1316px;
    margin: auto;
    color: rgb(84,84,84);
    padding: 70px 0;
}
.ecosystem a {
    text-decoration: none;
}
.ecosystem-logo {
    color: rgb(48, 48, 48);
}
.ecosystem-header .ecosystem-logo {
    float: left;
    font-size: 39px;
    font-weight: bold;
    margin-left: -4px;
}
.ecosystem-button {
    float: right;
    padding: 13px 25px;
    background-color: rgb(117,117,117);
    color: white;
    border-radius: 18px;
}
.ecosystem-nav {
    text-align: center;
    font-size: 0;
    color: rgb(84, 84, 84);
}
.ecosystem-nav, .ecosystem-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ecosystem-nav li {
    font-size: 22px;
    display: inline-block;    
}
.ecosystem-nav a {
    display: block;
    padding: 0 21px;
    color: rgb(48,48,48);
}
.ecosystem-headline {
    text-align: center;
    font-family: 'Valentina-Regular';
    font-size: 54px;
    color: #000;
    font-weight: normal;
}
.ecosystem-headline+p {
    margin: auto;
    text-align: center;
    font-size: 22px;
    max-width: 860px;
    color: 
}
.ecosystem-carousel {
    max-width: 1172px;
    text-align: center;
    margin: auto;
    position: relative;
}
.ecosystem-carousel li {
    font-size: 0;
}
.ecosystem-carousel ul, .ecosystem-carousel li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ecosystem-card {
    font-size: 14px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: 100% 0;
    padding: 332px 3.6% 3.6% 3.6%;
    display: inline-block;
    width: 22.5%;
    border-radius: 14px;
    margin: 0 15px;
    position: relative;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .4);
    transition: box-shadow .1s ease-in, background-size .4s ease;
}
.ecosystem-card:nth-child(1) {
    background-color: #bed7d4;
}
.ecosystem-card:nth-child(3) {
    background-color: #d2d0cb;
}
.ecosystem-card:hover {
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, .4);
    z-index: 1;
    background-size: 100% auto;
}
.ecosystem-card-subtitle {
    font-size: 10px;
    text-transform: uppercase;
}
.ecosystem-card-title {
    font-size: 28px;
    font-family: 'Valentina-Regular';
    color: black;
    font-weight: normal;
}
.ecosystem-card-title+p {
    font-size: 18px;
}
.ecosystem-available {
    font-size: 22px;
    float: left;
}
.ecosystem-card-button {
    float: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 70px;
    letter-spacing: 1px;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.flex-viewport {
    padding: 50px 0;
}
ol.flex-control-nav.flex-control-paging {
    position: absolute;
    right: 0px;
    top: 50%;
}
.ecosystem-available span {
    padding-left: 30px;
    position: relative;
}
.ecosystem-apple:before {
    content: '';
    width: 20px;
    height: 23px;
    background: url(../img/apple-logo.png) no-repeat;
    position: absolute;
    left: 5px;
}
.ecosystem-arrow {
    width: 27px;
    height: 15px;
    background: url(../img/arrow-down.png) no-repeat 0 0;
    cursor: pointer;
    margin: auto;
}
.ecosystem-download {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}